<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBBJptJQZssbqOjNDXW6Hf8yV8pPe7Xv4</string>
	<key>GCM_SENDER_ID</key>
	<string>590666654018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.coderio.momentum</string>
	<key>PROJECT_ID</key>
	<string>momentum-2020n</string>
	<key>STORAGE_BUCKET</key>
	<string>momentum-2020n.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590666654018:ios:fbfe1d317420509a2828db</string>
	<key>DATABASE_URL</key>
	<string>https://momentum-2020n.firebaseio.com</string>
</dict>
</plist>